<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Grado:</ion-label>
    <ion-select [formControl]="level" placeholder="Seleccione">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
      <ion-select-option value="9">9</ion-select-option>
      <ion-select-option value="10">10</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let student of students">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h1>{{student.name}}</h1>
        <h2>{{student.fatherName}}</h2>
        <h3>{{student.motherName}}</h3>
        <p>{{student.level}}</p>
        <p>{{student.section}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
